SNOWFLAKE_ACCOUNT=your_org-your_account
SNOWFLAKE_USER=YOUR_SERVICE_USER
SNOWFLAKE_ROLE=TRAYECTORIAS_ROLE
SNOWFLAKE_DATABASE=TRAYECTORIAS_AR
SNOWFLAKE_WAREHOUSE=TRAYECTORIAS_WH
SNOWFLAKE_PRIVATE_KEY_PATH=/secure/path/rsa_key.p8
DBT_ENV_SECRET_SNOWFLAKE_PASSPHRASE=
